//colors
$grey-c: #ced4da;
$grey-c2: #bdc3c8;
$grey-c3: #6e7173;
$white-c: #ffffff;
$dark-c: #363636;
$black-c: #000000;
$braun-c: #c36500;
$braun-c2: #78533b;
$braun-c3: #ea9359;

//sizes
$header-height: 90px;
$footer-height: 138px;
$border-widht-s: 1px;
$space-s: 5px;
$space-m: 10px;
$space-l: 15px;
$space-xl: 20px;

//animations
$duration-transition: 0.3s;
$duration-animation: 0.5s;
