@import '/src/assets/styles/main.scss';

.SearchBar {
  position: relative;

  display: flex;

  box-shadow: 0 0 $space-s $grey-c;
  border-radius: $space-s;

  &:hover,
  &:has(&__input:focus) {
    box-shadow: 0 0 $space-s $grey-c2;
  }

  &__label {
    margin: auto 0;
    margin-left: $space-m;
    border: 0;
  }

  &__form {
    position: relative;

    display: block;
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    padding: $space-m 0;
    padding-left: $space-l;
    border: 0;

    background-color: #fff;

    border-radius: $space-s;
    outline: 0;

    &:focus {
      border-color: $grey-c;
    }
  }

  &__cross {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    background-color: $grey-c;

    border-radius: 50%;
  }
}
